/* Style général */
body {
   font-family: "Bebas Neue", sans-serif;
  background-color: #F5EB92;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #2F2F4E;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin: 0 auto 20px auto;
  border-radius: 0 0 5px 5px;
  width: 35%;
  
  
}

/* Grille pour les colonnes */
.columns {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.stock, .a-acheter {
  flex: 1;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 48%;  /* Ajuste la largeur des colonnes */
}

/* Couleurs distinctes pour chaque colonne */
.stock {
  background-color: #DACD5B; /
  
}

.a-acheter {
  background-color: #68689f; /* Rouge clair pour À Racheter */
  
}

/* Liste des articles */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F5EB92;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  flex-wrap: wrap;
}

li span {
  flex: 1 1 100px;  /* Ajuste la taille minimale des éléments pour éviter les retours à la ligne */
  margin-right: 10px;
  font-family: "Plus Jakarta Sans", sans-serif;
  
}
.pomme{
  font-weight: 600;
}
.achat{
  color: white;
}
.stock2,.ajout{
  color: #242440;
}
/* Boutons d'action */
button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

button {
  background-color: #E8E8FF;
  color: #242440;
  margin-right: 10px;
  border: 1px solid #242440;
  transition: background-color 0.3s ease; 
  
}
button:hover{
  background-color: #ADADFF;

}

button.delete-button, .boutonAjout {
  background-color: #242440;
  color: white;
  transition: background-color 0.3s ease; 
}
button.delete-button:hover, .boutonAjout:hover{
  background-color: #3B3B68;

}




/* Formulaire */
form {
  margin-bottom: 20px;
}

form div {
  margin-bottom: 10px;
}


input, select {
  background-color: #E8E8FF;
  padding: 8px;
  width: 50%;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #242440;
  margin-bottom: 10px;
  font-family: "Plus Jakarta Sans", sans-serif;
}


select{
  color: #757575;
}


@media (max-width: 768px) {
  .columns {
    flex-direction: column;
    align-items: center;
  }

  .stock, .a-acheter {
    width: 80%; 
    margin-bottom: 20px; 
  }

  li {
    flex-direction: column;
  }

  button {
    margin-top: 5px;
    
  }
  form{
    margin-bottom: 5px;

  }
  li span {
    flex: 1 1 20px;  
    margin-right: 10px;
  }
}